@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
--white-: hsl(0, 0%, 100%);
--Stone-100: hsl(30, 54%, 90%);
--Stone-150: hsl(30, 18%, 87%);
--Stone-600: hsl(30, 10%, 34%);
--Stone-900: hsl(24, 5%, 18%);
--Brown-800: hsl(14, 45%, 36%);
--Rose-800: hsl(332, 51%, 32%);
--Rose--50: hsl(330, 100%, 98%);
--MnHdFnt-:'Young Serif',sans-serif;
--cntFnt:'Outfit',serif;
}




 main{
  background-color: var(--Stone-100);
  width: 100%;
  z-index: -100;
  padding: 7rem 0;
 }
 .wrapper{
  width: 675px;
  background-color: var(--white-);
  margin:auto;
  padding: 2.2rem;
  border-radius: 24px;
  font-family: var(--cntFnt);
  color: var(--Stone-600);
 }

 .img img{
  width: 100%;
  border-radius: 14px;
 /*  margin-bottom: 1rem;  */
 }

 .main-heading h1{
  color: var(--Stone-900);
  font-family: 'Young Serif',serif;
  font-size: 2.2rem;
  font-weight: 500;
 }

 .main-heading p{
  font-family: var(--cntFnt);
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--Stone-600);
 }

 .preparation{
  background-color: var(--Rose--50);
  padding: 1.4rem;
  margin-top: 2rem;
  border-radius: 8px;
 }

 .preparation h3{
  color: var(--Rose-800);
  margin-bottom: 1rem;
 }

 .preparation ul{
  margin-left: 1.3rem;
 }

 .preparation ul li::marker{
  color: var(--Rose-800);
 }

 /* Default Styles according to Design */

 li::marker{
  font-size: 0.6rem;
  color: var(--Rose-800);
}
li{
  margin-bottom: 0.8rem;
  padding-left: 1rem;
  line-height: 1.3;
}
li span{
  color: var(--Stone-800);
  font-weight: 700;
}

h2{
  color: var(--Brown-800);
  margin: 1.3rem 0;
  font-family: 'Oufit',serif;
  font-weight: 800;
  font-size: 1.8rem;
}

/* hr{
  border: 0.5px solid var(--Stone-100);
  margin: 2rem 0;
} */

/* End of Default Styles */

.Ingredients{
  border-bottom: 1px solid var(--Stone-100);
  padding: 1rem 0;
}

.Instructions{
  border-bottom: 1px solid var(--Stone-100);
  padding: 1rem 0;
}

.Instructions ul li{
  list-style-type: decimal;
}

.Instructions ul li::marker{
  font-size: 1rem;
  font-weight: 500;
}

.Nutrition p{
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  line-height: 2;
}

table tr td{
  border-bottom: 1px solid var(--Stone-100);
  padding: 0.7rem;
}














